header{
    
    display: flex; 
    justify-content: space-around;
    align-items: center;

}
ul{ 
    display: flex;
    list-style-type: none;
    align-items: center;
}   
ul li{
    margin-left: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
}
main{   display: flex;
        padding: 0 100px;
        align-items: center;

}

.container-right img{
    width: 500px;
}

.container-left h1{
    color: blueviolet;
}
.container-left h3 {
    color: orange;
}

